.container {
  background-color: whitesmoke;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.39);
  min-width: 25vw;
}
button {
  cursor: pointer;
}
li {
  font-style: italic;
  font-size: 1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.danger {
  color: red;
}
