/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #015192,
    #6e74cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #015192,
    #6e74cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
